@import '../../styles/font';
@import '../../styles/variables';

.Ceremony {
    margin: 0 auto;
    max-width: 640px;
    font-family: $font-primary;
    text-transform: uppercase;

    &-Title {
        font-family: $font-primary;
        color: #FFFF;
    }

    &-Address {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      border: 1px solid white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      position: relative;
      left: 50%;          // Position the element at 50% from the left
      transform: translateX(-50%); // Offset the element by half its width

      &:hover {
        background-color: white;
        color: black;
      }

      & span {
        font-weight: 300;
      }
    }

    p {
        line-height: 30px;
        letter-spacing: 3px;
        text-align: justify;
    }
}