@import './styles/font';
@import './styles/variables';

html {
    background-color: $color-background;
    padding: 0 15px;

    p, h1 {
        font-family: $font-primary;
        color: #FFFF;
    }
}
