@import '../../styles/font';
@import '../../styles/variables';

.Welcome {
    max-width: 640px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    height: 100vh;

    @include mobile {
        margin: 0 20px;
    }

    p {
        line-height: 30px;
        letter-spacing: 3px;
        text-align: justify;
    }
}